@page "/"
@using RollTheDiceGmtk2022.Game


<h1>
    Tyche
</h1>
<p style="font-style: italic;">
    A statistically probable adventure
</p>

<style>
	button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 100px;
    }
	button h6 {
        font-style: italic;
    }
	button .badge {
        width: 200px;
    }
	button.btn {
        text-align: left;
        padding-left: 60px;
    }
	.number {
        position: absolute;
        font-size: 60px;
        overflow: hidden;
        height: 100%;
        margin-top: -8px;
        font-family: times;
        text-align: center;
        left: 10px;
        width: 100px;
        color: white;
    }
</style>

<h3>Intro</h3>
<p>
    The goddess Tyche is playing with the fate of Greece and it's your job to set things right! Fight luck itself with ancient prophecies and probabilities to keep fickle fortune from changing history! 
    
</p>

<p>
    On a visit to Delphi and the Temple of Apollo, your paltry questions for the Oracle are ignored.
    Instead you are delivered a prophecy: Heed the Oracles and prevent Tyche from twisting the Fates' design with her luck and random chance! Given little choice in the matter, your journey through legend begins.


</p>


<h3>How To Play</h3>

<img src="Tutorial.png" style="max-height:600px;" />
<p>
    <b>Tyche</b> is a game about carving out victory <b>despite</b> the whims of the goddess of fortune and her accursed RNG.
    You build a strategy that maximizes your parties' chance of success while minimizing the number of turns required to defeat the *Enemy Cards* of the scenario.
    You're not alone! The Oracle has offered prophecies in each scenario to fight against random chance. Using that knowledge is the key to reliable victory! History should be set in stone, right?'
</p>
<p>
    Select characters in each scenario to take position on the battlefield. A single roll of the six sided die determines what actions, if any, the character and enemy take for a given position.
    Drag dice from the *Ability Dice* to the character cards to activate abilties when the roll matches the criteria 
</p>

<p>
    END OF TURN: A turn moves moves from position 1 to 3 with each character using all of it's slotted abilities. The next turn begins back at position 1.
</p>
<p>
    VICTORY: One success is not enough to stop Tyche! Every strategy is played out 5 times to see just how far luck is carrying you to each victory.
</p>

<button @onclick="@(() => Navigate(1))" class="btn btn-light btn-lg">
    <h1 class="number">1</h1>
    <h5>Chapter One</h5>
    <h6>The Same Way We Always Begin</h6>
</button>
<button @onclick="@(() => Navigate(2))" class="btn btn-light  btn-lg">
    <h1 class="number">2</h1>
    <h5>Chapter Two</h5>
    <h6>
        Snakes. Why is it Always Snakes?!
    </h6>
</button>

<button @onclick="@(() => Navigate(3))" class="btn btn-light  btn-lg">
    <h1 class="number">3</h1>
    <h5>Chapter Three</h5>
    <h6>
        Have Big stick, Will Travel.
    </h6>
</button>

<button @onclick="@(() => Navigate(4))" class="btn btn-light  btn-lg">
    <h1 class="number">4</h1>
    <h5>Chapter Four</h5>
    <h6>
        Modern Medicine
    </h6>
</button>

<button @onclick="@(() => Navigate(5))" class="btn btn-light  btn-lg">
    <h1 class="number">5</h1>
    <h5>Chapter Five</h5>
    <h6>
        Big Boss
    </h6>
</button>

@*
<button @onclick="@(() => Navigate(4))" class="btn btn-light  btn-lg">
    <h1 class="number">4</h1>
    <h5>Chapter Four</h5>
    <span class="badge badge-warning" style="float: right;">A moderate challenge</span>
    <h6>
        Ohana means nobody gets left behind
    </h6>
</button>

<button @onclick="@(() => Navigate("interlude"))" class="btn btn-light  btn-lg">
    <h5>Interlude</h5>
</button>

<button @onclick="@(() => Navigate(5))" class="btn btn-light btn-lg">
    <h1 class="number">5</h1>
    <h5>Chapter Five</h5>
    <span class="badge badge-warning" style="float: right;">A moderate challenge</span>
    <h6>
        A bridge, slightly too far
    </h6>
</button>

<button @onclick="@(() => Navigate(6))" class="btn btn-light btn-lg">
    <h1 class="number">6</h1>
    <h5>Chapter Six</h5>
    <span class="badge badge-danger" style="float: right;">A substantial challenge</span>
    <h6>
        A bridge, unquestionably too far
    </h6>
</button>

<button @onclick="@(() => Navigate(7))" class="btn btn-light  btn-lg">
    <h1 class="number">7</h1>
    <h5>Chapter Seven</h5>
    <span class="badge badge-danger" style="float: right;">Technically, it's possible</span>
    <h6>
        The Great Escape
    </h6>
</button>
*@

<button @onclick="@(()=>Navigate("ThankYou"))" class="btn btn-light btn-lg">Thank You & Attributions</button>






@inject NavigationManager NavigationManager
@code
{
    private bool _showThankYou { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
       
    }

    private void Navigate(int num)
    {
        NavigationManager.NavigateTo(num.ToString());
    }

    private void Navigate(string name)
    {
        NavigationManager.NavigateTo(name);
    }

    private void ShowThankYou()
    {
        _showThankYou = true;
        this.StateHasChanged();
    }
}


