@page "/1"

@using RollTheDiceGmtk2022.Game
@using RollTheDiceGmtk2022Logic

<style>

    h3{
        font-family: 'heorot';
    }
    .oracle-dice-match-rule {
        width: 50px;
    }

    .oracle-dice-match-rule + .oracle-dice-match-rule {
        margin-left: 10px;
    }

    .card-deck {
        flex-flow: row nowrap;
        overflow-x: auto;
        padding-bottom: 5px;
    }

    .card {
        width: 300px;
        min-width:300px;
        min-height: 395px;
        background: #C27258;
        background-size:100%;

        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    }

    .card-deck .card:first-child {
        margin-left: 0;
    }

    .card-deck .card:last-child {
        margin-right: 0;
    }

    .card.missing-card{
        background:url("door.png");
        background-size: 100%;
    }

    .list-group-item{
        background:none;
    }

    .list-group-item .border-right{
        border-color:#EE9463 !important;
    }

    .card.missing-card:after {
        content: 'Place a card';
    }

    .card-header{
        background:url("cardheader.png");
        height: 85px;
    }

    .card-header-name{
        font-family: 'Heorot';
        font-size: 250%;
        color:#EE9463;
    }

    .hp {
        font-size: 1rem;
    }

    .dice-match-rule-slot {
        background-color: #007bff;
        border-radius: .25rem;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        display: inline-block;
        font-size: .75rem;
        height: 18px;
        width: 50px;
    }

    .dice-match-rule-slot:empty {
        background-color: transparent;
        border-color:#EE9463;
        border-style: dotted;
        border-width: 2px;
        height: 50px;
        width: 50px;
    }

    .card .dice-match-rule-slot {
        margin-top: 15px;
    }

    .draggable-dice-match-rule-receiver + .draggable-dice-match-rule-receiver {
        margin-left: 10px;
    }

    .draggable-dice-match-rule-receiver:empty {
        position: relative;
        top: -1px;
    }

    .draggable-dice-match-rule {
        position: relative;
        top: -5px;
        width: 50px;
        height: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        line-height: 45px;
        background:url("dice_background.png");
        font-size: 0.8em;
        text-shadow:0px 1px #90868a;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #C27258;
    }
 
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #EE9463; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #EE9463; 
    }

</style>

<button id="run-button" @onclick="@(() => RunSimulation())">Run Simulation</button>


<div class="container-fluid">
    <div class="board mt-5">
        <h3>Oracle</h3>

        <div class="mb-2">
            @foreach (var oracleDiceMatchRule in Oracle)
            {
                <span class="badge badge-primary oracle-dice-match-rule">@oracleDiceMatchRule</span>
            }
        </div>

        <div class="row">
            <div class="col-3">
                <PlacedCard Card="@EnemyCard" IsEnemy="@true"></PlacedCard>
            </div>

            <div class="col-9">
                <div class="card-deck">
                    @foreach (var kvp in PlacedCards)
                    {
                        var card = kvp.Value;
                        var cardLocation = new CardLocation(true, kvp.Key);

                        <PlacedCard Card="@card" Location="@cardLocation" OnDragStart="@HandleCardDragStart" OnDragStop="@HandleCardDragStop" OnDiceMatchRuleDragStart="@HandleDiceRuleDragStart" OnDiceMatchRuleDragStop="@HandleDiceRuleDragStop"></PlacedCard>
                    }
                </div>

                <div class="mt-2 p-2">
                    @foreach (var kvp in DiceMatchRuleDashboard)
                    {
                        var rule = kvp.Value;
                        var diceMatchRuleLocation = new DiceMatchRuleLocation(true, kvp.Key);

                        <span class="bg-white border-primary draggable-dice-match-rule-receiver" ondragover="event.preventDefault();" @ondrop="@(() => HandleDiceRuleDragStop(diceMatchRuleLocation))">
                            @if (rule != null)
                            {
                                <span class="badge badge-primary draggable-dice-match-rule" draggable="true" @ondragstart="@(() => HandleDiceRuleDragStart(diceMatchRuleLocation))">@rule.Value</span>
                            }
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<button id="run-button" @onclick="@(() => RunSimulation())">RUN</button>
@if (this.gs != null && isRunning)
{
    <button id="run-button" @onclick="@(() => StopSimulation())">STOP</button>    
}

<OutcomePrediction Outcome=@ExpectedOutcome></OutcomePrediction>

<pre>
********************* DEBUG *********************
@if (this.gs != null)
{
    <text>
        IsGameEnded: @gs.IsGameEnded
        IsEnemyCardDefeated: @gs.IsEnemyCardDefeated
        IsPlayerHandDefeated: @gs.IsPlayerHandDefeated
        Enemy HP: @gs.EnemyCard.Hp
        DiceIndex: @gs.Timer.DiceIndex
        TurnNumber: @gs.Timer.TurnNumber
    </text>
    foreach (var line in gs.Log)
    {
        <text>@line</text>@Environment.NewLine
    }
}
********************* DEBUG *********************
</pre>

@inject BlazorTimer BlazorTimer
@inject NavigationManager NavigationManager
@code
{
    ScenarioRegistrar scenarioRegistrar = new ScenarioRegistrar();

    public Scenario ThisScenario => scenarioRegistrar.Scenarios[0];

    Dictionary<int,CardDefinition> ScenarioCards = new Dictionary<int,CardDefinition>();
    Dictionary<int,Card> PlacedCards = new Dictionary<int,Card>();
    Dictionary<int,DiceMatchRule?> DiceMatchRuleDashboard = new Dictionary<int,DiceMatchRule?>();
    List<DiceMatchRule> Oracle = new List<DiceMatchRule> { DiceMatchRule.Odd, DiceMatchRule.Even, DiceMatchRule.Odd, DiceMatchRule.Even, DiceMatchRule.Even };
    Card EnemyCard;

    public CardLocation? CardLocationDragStart { get; set; }
    public DiceMatchRuleLocation? DiceMatchRuleLocationPayload { get; set; }

    [Parameter]
    public EventCallback CardMoved { get; set; }

    [Parameter]
    public EventCallback DiceMatchRuleMoved { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        int pos= 0;
        foreach (var item in ThisScenario.DiceMatchRulePool)
            DiceMatchRuleDashboard.Add(pos++, item);

        this.Oracle = ThisScenario.Oracle;

        for (var i = 0; i < 4; i++)
        {
            CardDefinition useDefinition = null;
            if (i == 0)
                useDefinition = KnownCardDefinitions.Rogue;
            if (i == 1)
                useDefinition = KnownCardDefinitions.Archer;
            if (i == 2)
                useDefinition = KnownCardDefinitions.Paladin;
            if (i == 3)
                useDefinition = KnownCardDefinitions.Cleric;

            var card = new Card(useDefinition, i);
            PlacedCards.Add(i, card);
        }
        //PlacedCards.Add(3, null);
        PlacedCards.Add(4, null);

        EnemyCard = ThisScenario.EnemyCard;

        BlazorTimer.SetTimer(500);
        BlazorTimer.OnElapsed += SimulationTick;

    }

    private bool IsPlaced(int cardId)
    {
        return PlacedCards.Values.Any(x => x.Id == cardId);
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    public void OnCardDefinitionPlaced(CardDefinition cardDef, int cardId, int handPosition)
    {
        var card = new Card(cardDef, cardId);
        PlacedCards[handPosition] = card;

        this.StateHasChanged();
    }

    public void OnCardMoved(int originalPosition, int newPosition)
    {
        var originalOccupantOfNewPosition = PlacedCards[newPosition];
        var originalOccupantOfOriginalPosition = PlacedCards[originalPosition];
        PlacedCards[newPosition] = originalOccupantOfOriginalPosition;
        PlacedCards[originalPosition] = originalOccupantOfNewPosition;

        this.StateHasChanged();
    }



    GameState gs;
    bool isRunning;
    public void RunSimulation()
    {
        gs = BuildUpGameState();

        isRunning = true;
    }

    private GameState BuildUpGameState()
    {
        var gs2 = new GameState(ThisScenario,this.PlacedCards);
        return gs2;
    }

    public void StopSimulation()
    {
        isRunning = false;
    }

    GameOutcomeProbability ExpectedOutcome { get; set; }
    object gsLock = new object();
    private void SimulationTick()
    {
        if (!isRunning)
        {
            List<GameOutcome> allOutcomes = new List<GameOutcome>();
            for (var i = 0; i < 5; i++)
            {
                var gs = BuildUpGameState();
                var thisOutcome = gs.AdvanceGameStateUntilCompletion(50);
                allOutcomes.Add(thisOutcome);
            }
            ExpectedOutcome = new GameOutcomeProbability(allOutcomes);

        }

        if (isRunning && !gs.IsGameEnded){
            try
            {
                lock (gsLock)
                {
                    gs.AdvanceGameStateOneTick();    
                }

            }
            catch (Exception ex)
            {
                gs.Log.Add(ex.Message);    
                gs.Log.Add(ex.StackTrace);
            }

            this.StateHasChanged();
        }
    }

    public void OnDiceMatchRuleMoved(DiceMatchRuleLocation src, DiceMatchRuleLocation dest)
    {
        var srcRule = GetDiceMatchRuleByLocation(src);
        var destRule = GetDiceMatchRuleByLocation(dest);

        SetDiceMatchRuleByLocation(src, destRule);
        SetDiceMatchRuleByLocation(dest, srcRule);
    }

    private DiceMatchRule? GetDiceMatchRuleByLocation(DiceMatchRuleLocation location)
    {
        if (location.InDashboard)
        {
            return DiceMatchRuleDashboard[location.CollectionIndex];
        }
        else
        {
            return PlacedCards[location.CollectionIndex].Slots[location.SlotIndex].Rule;
        }
    }

    private void SetDiceMatchRuleByLocation(DiceMatchRuleLocation location, DiceMatchRule? rule)
    {
        if (location.InDashboard)
        {
            DiceMatchRuleDashboard[location.CollectionIndex] = rule;
        }
        else
        {
            PlacedCards[location.CollectionIndex].Slots[location.SlotIndex].Rule = rule;
        }
    }

    private void HandleCardDragStart(CardLocation location)
    {
        CardLocationDragStart = location;
    }

    private void HandleCardDragStop(CardLocation location)
    {
        if (CardLocationDragStart == null)
            return;

        OnCardMoved(CardLocationDragStart.Value.CollectionIndex, location.CollectionIndex);

        CardLocationDragStart = null;

        this.StateHasChanged();
    }

    private void HandleDiceRuleDragStart(DiceMatchRuleLocation location)
    {
        DiceMatchRuleLocationPayload = location;
    }

    private void HandleDiceRuleDragStop(DiceMatchRuleLocation location)
    {
        if (DiceMatchRuleLocationPayload == null)
            return;

        // Because our dice match rules might exist inside a card, dragging them elsewhere
        // will tragger the actual card drag, but this drop fires first so clear the card drag start
        // so the card drag stop does nothing.
        CardLocationDragStart = null;

        OnDiceMatchRuleMoved(DiceMatchRuleLocationPayload.Value, location);

        DiceMatchRuleLocationPayload = null;

        this.StateHasChanged();
    }
}

